.register_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(197, 239, 255, 1);
    border-radius: 20px;
    width: 420px;
}
.buttons_login_register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 25px;
    background-color: white;
    border-radius: 15px;
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
}
/* --- ЗАМІНІТЬ СТАРІ СТИЛІ КНОПОК НА ЦІ --- */

.login_button, .register_button {
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 122, 255, 1);
    transition: background-color 0.3s, color 0.3s;
}
.login_button.active, .register_button.active {
    background-color: rgba(0, 122, 255, 1);
    color: white;
}

.login_p, .register_p, p.input_p {
    margin: 0;
}

.login,.register {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    align-items: flex-start;
}
.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}
p.input_p {
    font-size: 20px;
    color: rgba(90, 90, 90, 1);
    margin: 20px 0 10px 0;
}
input.input_input {
    width: 96%;
    font-size: 16px;
    padding: 13px 0 13px 13px;
    border: 0;
    border-radius: 10px;
}
.but_confirm, .but_and_p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
}
button.button_confirm {
    border: 0;
    font-size: 20px;    
    color: #ffffff;
    background-color: rgba(0, 122, 255, 1);
    padding: 11px 27px;
    border-radius: 16px;
    min-width: 140px;
    cursor: pointer;
}
p.f_p {
    color: rgba(83, 165, 255, 1);
    font-size: 15px;
    cursor: pointer;
}   
.login{
    display: flex; 
}
.register{
    display: none;
}